.vintage-background{
   background-image: url("../img/backgrounds/vintage-background3.png")!important;
   background-repeat: no-repeat!important;
   background-size:cover!important;
   background-position: 30% 30% !important;
   background-attachment: scroll !important;
}