.vintage-background{
   background-image: url("../img/backgrounds/vintage-background3.jpeg")!important;
   background-repeat: no-repeat!important;
   background-size:cover!important;
   background-position: 25% 25% !important;
   background-attachment: scroll !important;
}